.text-field {
    -fx-background-color: #1A1A3A;
    -fx-text-fill: white;
    -fx-border-color: #B8B8FF;
    -fx-border-width: 1.2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-area {
    -fx-control-inner-background: #1A1A3A;
    -fx-text-fill: white;
    -fx-border-color: #B8B8FF;
    -fx-border-width: 1.2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.left-panel {
    -fx-background-color: #2F3A4C;
    -fx-padding: 30;
}

.profile-image {
    -fx-border-radius: 75;
    -fx-background-radius: 75;
}

.name-label {
    -fx-text-fill: white;
    -fx-font-size: 22;
    -fx-font-weight: bold;
}


.contact-header {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-weight: bold;
}

.contact-label {
    -fx-text-fill: white;
}

.center-panel {
    -fx-padding: 30;
}

.section-header {
    -fx-font-size: 22;
    -fx-font-weight: bold;
}

.section-content {
    -fx-font-size: 14;
    -fx-text-fill: #444444;
}
