.text-field {
    -fx-background-color: #1A1A3A;
    -fx-text-fill: white;
    -fx-border-color: #B8B8FF;
    -fx-border-width: 1.2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.text-area {
    -fx-control-inner-background: #1A1A3A;
    -fx-text-fill: white;
    -fx-border-color: #B8B8FF;
    -fx-border-width: 1.2;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
